body {

	background-color: blue;
	
}
/*Makes my Blog mobile friendly for phones*/
@media (max-width: 320px) {
	body{
	/*Makes my background red when using an iPhone or such device*/
	background-color: red;
    }
}	

@media (max-width: 1024px) {
	body{

	background-color: lime;
    }
}	
